@font-face {
  font-family: 'Arcon';
  src: url('/static/fonts/Arcon-Regular.eot');
  src: url('/static/fonts/Arcon-Regular.eot') format('embedded-opentype'), url('/static/fonts/Arcon-Regular.woff2') format('woff2'), url('/static/fonts/Arcon-Regular.woff') format('woff'), url('/static/fonts/Arcon-Regular.ttf') format('truetype'), url('/static/fonts/Arcon-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size:100%; /* default: 16px */
	background-color: #DFE2FA;
  font-family: Arcon;
  color: #03072F;
}

a {
	color:inherit;
	text-decoration:inherit;
}

.server {
	font-size:0.8em;
}
.channel {
	margin-left:6px;
}
.channel .channelname {
	font-size:1.2em;
	font-weight:bold;
}
.subchannels {
}
.users {
	margin-left:4px;
}
.username img {
	position:relative;
	top:2px;
}
