@font-face {
  font-family: 'Arcon';
  src: url('../fonts/Arcon-Regular.eot');
  src: url('../fonts/Arcon-Regular.eot') format('embedded-opentype'), url('../fonts/Arcon-Regular.woff2') format('woff2'), url('../fonts/Arcon-Regular.woff') format('woff'), url('../fonts/Arcon-Regular.ttf') format('truetype'), url('../fonts/Arcon-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background-color: #1A012D;
  font-family: Arcon;
  color: #03072F;
  margin: 0px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #3743B8;
  transition-property: all;
  transition-duration: 0.2s;
}

a:visited {
  color: #3743B8;
  transition-property: all;
  transition-duration: 0.2s;
}

a:hover {
  color: #20A69C;
  transition-property: all;
  transition-duration: 0.2s;
}

div#main {
  background-color: #DFE2FA;
  width: 672px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

img#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  text-align: center;
  font-size: 18px;
  border-top: 2px solid #03072F;
  border-bottom: 2px solid #03072F;
}

#menu ul {
  padding: 0px;
}

#menu li {
  display: inline;
  padding-left: 16px;
  padding-right: 16px;
}

#menu a {
  text-decoration: none;
}

#menu a:link, #menu a:visited {
  color: #131E86;
  transition-property: all;
  transition-duration: 0.2s;
}

#menu a:hover {
  color: #782CB3;
  transition-property: all;
  transition-duration: 0.2s;
}

div.container {
  border: 2px solid #03072F;
  border-radius: 32px;
  text-align: center;
  margin: 32px;
  padding: 32px;
}

div.topic {
  background-color: #DAF9F7;
  border-top: 1px solid #002A26;
  border-bottom: 1px solid #002A26;
  border-left: 2px solid #002A26;
  border-right: 2px solid #002A26;
  padding-left: 16px;
  padding-right: 16px;
}

div.topic:first-child {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin-top: 32px;
  border-top: 2px solid #002A26;
  border-left: 2px solid #002A26;
  border-right: 2px solid #002A26;
}

div.topic:last-child {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  margin-bottom: 32px;
  border-bottom: 2px solid #002A26;
  border-left: 2px solid #002A26;
  border-right: 2px solid #002A26;
}

div.topic>a {
  text-decoration: none;
}

div.topic>a:link {
  color: #002A26;
  transition-property: all;
  transition-duration: 0.2s;
}

div.topic>a:visited {
  color: #002A26;
  transition-property: all;
  transition-duration: 0.2s;
}

div.topic>a:hover {
  color: #20A69C;
  transition-property: all;
  transition-duration: 0.2s;
}

div.thread {
  background-color: #EDDDFA;
  border-top: 1px solid #1A012D;
  border-bottom: 1px solid #1A012D;
  padding: 8px;
}

div.thread:first-child {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin-top: 32px;
  border-top: 2px solid #1A012D;
  border-left: 2px solid #1A012D;
  border-right: 2px solid #1A012D;
}

div.thread:last-child {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  margin-bottom: 32px;
  border-bottom: 2px solid #1A012D;
  border-left: 2px solid #1A012D;
  border-right: 2px solid #1A012D;
}

div.thread>a {
  text-decoration: none;
}

div.thread>a:link {
  color: #1A012D;
  transition-property: all;
  transition-duration: 0.2s;
}

div.thread>a:visited {
  color: #1A012D;
  transition-property: all;
  transition-duration: 0.2s;
}

div.thread>a:hover {
  color: #782CB3;
  transition-property: all;
  transition-duration: 0.2s;
}

table.post {
  margin: 16px;
  width: 100%-32px;
  border-spacing: 0px;
  border: 2px solid #03072F;
  border-radius: 16px;
}

td.post-userinfo {
  padding: 32px;
  text-align: center;
}

td.post-userinfo>img {
  border-radius: 8px;
}

td.post-content {
  padding: 32px;
  width: 100%;
  border-left: 2px solid #03072F;
  vertical-align: top;
}

td.post-buttons {
  padding: 16px;
  border-top: 2px solid #03072F;
  text-align: right;
}

td.post-buttons>a {
  text-decoration: none;
}

td.post-buttons>a:link, td.post-buttons>a:visited {
  color: #131E86;
  transition-property: all;
  transition-duration: 0.2s;
}

td.post-buttons>a:hover {
  color: #782CB3;
  transition-property: all;
  transition-duration: 0.2s;
}

span.post-button {
  margin-left: 16px;
  margin-right: 16px;
}

div.replies {
  margin-left: 32px;
  border-left: 4px solid #03072F;
}

div.path {
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-top: 2px solid #4E0982;
  border-bottom: 2px solid #4E0982;
}

table.games {
  margin: 1px;
}

td.game {
  padding: 0px;
}

td.game>img {
  border: 2px solid #03072F;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

textarea {
  width: 100%;
  height: 128px;
}

textarea.profile-reply {
  height: 64px;
}

table.profile-header {
  margin: 16px;
  width: 100%-32px;
  border-spacing: 0px;
  border: 2px solid #03072F;
  border-radius: 16px;
}

td.profile-avatar>img {
  padding: 32px;
  border-radius: 48px;
}

td.profile-name {
  padding: 32px;
  text-align: center;
  width: 100%;
  border-left: 2px solid #03072F;
}

iframe {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
