{% extends "base_template.html" %}
{% block nav %}
              <li><a href="/"><span class="fa fa-home"></span> Home</a></li>
              <li class="active"><a href="/games"><span class="fa fa-gamepad"></span> Gaming</a></li>
{% endblock %}
{% block content %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Dota 2</h3>
            </div>
            <div class="panel-body">
              <img class="image-responsive pull-left" src="/assets/images/dota64.png">
              <p>There will usually be many Dota players on our <a href="ts3server://ts3.seventh-root.com?port=9987&amp;addbookmark=Seventh%20Root">TeamSpeak</a>. Come and join us for a game!</p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Age of Empires II</h3>
            </div>
            <div class="panel-body">
              <img class="image-responsive pull-left" src="/assets/images/aoe64.png">
              <p>There will usually be many Age of Empires II players on our <a href="ts3server://ts3.seventh-root.com?port=9987&amp;addbookmark=Seventh%20Root">TeamSpeak</a>. Come and join us for a game!</p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Rocket League</h3>
            </div>
            <div class="panel-body">
              <img class="image-responsive pull-left" src="/assets/images/rocketleague64.png">
              <p>There will usually be many Rocket League players on our <a href="ts3server://ts3.seventh-root.com?port=9987&amp;addbookmark=Seventh%20Root">TeamSpeak</a>. Come and join us for a game!</p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">ARK: Survival Evolved</h3>
            </div>
            <div class="panel-body">
              <img class="image-responsive pull-left" src="/assets/images/ark64.png">
              <p>Our official ARK: Survival Evolved server is 192.99.232.75:17015</p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Guild Wars 2</h3>
            </div>
            <div class="panel-body">
              <img class="image-responsive pull-left" src="/assets/images/gw64.png">
              <p>Add alyphen.3620 and request an invite to the Seventh Root guild</p>
            </div>
          </div>
{% endblock %}
