{% extends "base_template.html" %}
{% block nav %}
              <li class="active"><a href="/"><span class="fa fa-home"></span> Home</a></li>
              <li><a href="/forum"><span class="fa fa-comments"></span> Forum</a></li>
              <li><a href="/games"><span class="fa fa-gamepad"></span> Gaming</a></li>
{% endblock %}
{% block content %}
      <div class="panel panel-default">
        <div class="panel-body">
          Welcome to the Seventh Root gaming community!<br /><br />
          Join us on TeamSpeak and chat, or organise games on the forums.<br /><br />
          Join our Steam group and play games with us!<br /><br />
          TeamSpeak: <a href="ts3server://ts3.seventh-root.com?port=9987&amp;addbookmark=Seventh%20Root">ts3.seventh-root.com</a><br />
          Steam: <a href="http://steamcommunity.com/groups/seventh-root">steamcommunity.com/groups/seventh-root</a><br />
          IRC: <a href="irc://chat.freenode.net/seventhroot">#seventhroot on freenode</a>
        </div>
      </div>
{% endblock %}
